<p id="notice"><%= notice %></p>

<p>
  <strong>Spree line item:</strong>
  <%= @track.spree_line_item_id %>
</p>

<p>
  <strong>Vendor recieved:</strong>
  <%= @track.vendor_recieved %>
</p>

<p>
  <strong>Vendor sent:</strong>
  <%= @track.vendor_sent %>
</p>

<p>
  <strong>Recieved:</strong>
  <%= @track.recieved %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
