<p id="notice"><%= notice %></p>

<h1>Outdoor Levels</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outdoor_levels.each do |outdoor_level| %>
      <tr>
        <td><%= outdoor_level.level %></td>
        <td><%= link_to 'Show', outdoor_level %></td>
        <td><%= link_to 'Edit', edit_outdoor_level_path(outdoor_level) %></td>
        <td><%= link_to 'Destroy', outdoor_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outdoor Level', new_outdoor_level_path %>
