<p id="notice"><%= notice %></p>

<h1>Activity Levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_levels.each do |activity_level| %>
      <tr>
        <td><%= activity_level.name %></td>
        <td><%= link_to 'Show', activity_level %></td>
        <td><%= link_to 'Edit', edit_activity_level_path(activity_level) %></td>
        <td><%= link_to 'Destroy', activity_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity Level', new_activity_level_path %>
