<p id="notice"><%= notice %></p>

<h1>Body Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @body_types.each do |body_type| %>
      <tr>
        <td><%= body_type.name %></td>
        <td><%= link_to 'Show', body_type %></td>
        <td><%= link_to 'Edit', edit_body_type_path(body_type) %></td>
        <td><%= link_to 'Destroy', body_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Body Type', new_body_type_path %>
