<div class="body-wrap boxed-container">
    <header class="site-header">
        <div class="container">
            <div class="site-header-inner">
                <div class="brand header-brand">
                    <h1 class="m-0">
                        Labbesne
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                  <div class="hero-copy">
                    <h2 class="hero-title mt-0">The Art and Science of Shopping</h2>
                    <p class="hero-paragraph">We transcend your shopping experience to something that makes sense.</p>
                    <div class="hero-cta">
                      <a class="button button-primary btn-try" href="#swipe-section">Try Me</a>
                    </div>
                  </div>
                </div>
            </div>
          <%= image_tag 'https://labbesne.s3.eu-west-3.amazonaws.com/labbesne/assets/unnamed-removebg-preview.png', class: 'hero-image hidden', id: 'hero-image' %>
        </section>
        <section class="swiper" id="swipe-section">
          <div class="products-container" data-controller="products">
            <div class="products-section-swiper">
              <% unless @swiped %>
                <div class="dynamic-deck">
                  <%= render partial: 'pages/partials/deck' %>
                </div>
              <% end %>
              <div class="onboard <%= 'hidden' unless @swiped %>">
                <% if @email.nil? %>
                      <p id="preregistration_text">Signup for updates to continue shopping and unlock more features</p>
                    <% else %>
                       <p>We'll keep you in the loop</p>
                    <% end %>
                <%= simple_form_for(@preregistration, method: :get, remote: true) do |f| %>
                  <%= f.error_notification %>
                  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                  <div class="form-inputs">
                    <% if @email.nil? %>
                      <%= f.input :email, label: false, placeholder: "Email" %>
                    <% else %>
                      <%= f.input :email, label: false, input_html: {value: @email, class: 'saved_email'}, disabled: true %>
                    <% end %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, class: 'hidden preregistration-submit'%>
                  </div>
                <% end %>
                <% if @email.nil? %>
                  <button id="pre-dummy">Register</button>
                <% end %>
                </div>
            </div>
          </div>
        </section>
    </main>
</div>
