<ul>
<% @products.each do |p| %>
<li><%= p.name %></li>
<% end %>
</ul>
<%= simple_form_for @product, url: '/admin/products', method: :post do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :shipping_category_id, as: :hidden, input_html: { value: @shipping.id } %>
  <%= f.input :spree_user_id, as: :hidden, input_html: { value: current_spree_user.id } %>
  <%= f.input :available_on, as: :hidden, input_html: { value: DateTime.now() } %>
  <%= f.file_field :image, multiple: true, accept:'image/*' %>
  <%= f.button :submit %>
<% end %>
