<div class="body_type_list body_type_list_men body_type_list_hidden">
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/triangle-man.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/triangle-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Triangle</h3>
      <h6>Broader Hips</h6>
    </div>
  </div>
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/inverted-man.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/inverted-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Inverted</h3>
      <h6>Broader Shoulders</h6>
    </div>
  </div>
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/hourglass-man.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/hourglass-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Hourglass</h3>
      <h6>Broader Shoulders and Hips</h6>
    </div>
  </div>
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/diamond-man.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/diamond-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Diamond</h3>
      <h6>Broader Waist</h6>
    </div>
  </div>
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/uniform-man.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/uniform-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Uniform</h3>
    <h6>Shoulders, Waist, and Hips Align</h6>
    </div>
  </div>
</div>
<!--                                  -->
<div class="body_type_list body_type_list_hidden body_type_list_women">
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/triangle.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/triangle-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Triangle</h3>
      <h6>Broader Hips</h6>
    </div>
  </div>
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/inverted.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/inverted-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Inverted</h3>
      <h6>Broader Shoulders</h6>
    </div>
  </div>
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/hourglass.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/hourglass-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Hourglass</h3>
      <h6>Broader Shoulders and Hips</h6>
    </div>
  </div>
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/diamond.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/diamond-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Diamond</h3>
      <h6>Broader Waist</h6>
    </div>
  </div>
  <div class="body_image_group">
    <div class="body_image_group_images">
      <%= image_tag 'body_types/uniform.png', class: 'body_image_model' %>
      <%= image_tag 'body_types/uniform-icon.png', class: 'body_image_icon' %>
    </div>
    <div class="body_image_group_text">
      <h3>Uniform</h3>
    <h6>Shoulders, Waist, and Hips Align</h6>
    </div>
  </div>
</div>
