<div class="products-container-cart-header">
  <button class="hide-sidebar hide-sidebar-cart">Hide</button>
  <div><h1 data-products-target="name">Cart</h1><%= link_to "empty", empty_cart_path(order_id: @order.id), remote: true, method: :delete, class: "empty_cart" %></div>
  <h3 data-products-target="price"><%= "#{@order.total.to_i} LBP" %></h3>
</div>
<div class="products-container-cart-body">
  <ul class="cart-items">
    <% @order.line_items.includes([:variant, :product]).each do |li| %>
      <li class="cart-line-item">
        <div>
          <div class="cart-line-item-name">
          <%= li.product.name %>
          </div>
          <div class="cart-line-item-price"><%= "#{li.product.price} x #{li.quantity}" %></div>
          </div>
        <%= link_to "x", remove_item_path(item_id: li.id), remote: true, method: :delete, class: "remove_item" %>
      </li>
      <hr>
    <% end %>
  </ul>
</div>
<% unless @order.line_items.empty? %>
  <div class="products-container-cart-footer">
    <button class="btn btn-buy" id="checkout-btn">Checkout</button>
    <div class="profile_prompt hidden">
      <p>Please finish filling out <a href="/profileforms">your profile</a> before ordering</p>
    </div>
    <div class="address_prompt hidden">
      <p>Please choose an option</p>
      <button class="btn use_old">Use Saved Address</button>
      <button class="btn use_new">Choose New Address</button>
      <button class="btn use_cancel">Cancel Checkout</button>
    </div>
  </div>
<% end %>

