<ul id="products-swipe-card-stack" data-products-target="deck">
  <% @products_sorted.reverse.each_with_index do |p,i| %>
    <% product_data = "data-gender=#{p.gender} data-type=#{ProductSpec.where(spree_product_id: p.id, name: 'clothing-type').first.value || "missing"}" %>
    <li class="swipe-card <%= "saved_product" if Interaction.all.any? && Interaction.where(spree_product_id: p.id).first.saved? %>" <%= product_data %> data-saved=<%= Interaction.all.any? && Interaction.where(spree_product_id: p.id).first.saved? %> data-products-target="card" data-productid="<%= p.id %>" data-action="click->products#swipe" data-name="<%= p.name %>" data-price="<%= p.price %>" data-variant="<%= p.master.id %>" data-queue=<%= i %>>
      <div class="swipe-card-base">
        <%= image_tag p.images.first.url('large') %>
      </div>
      <div class="swipe-card-like hidden">
        <i class="fas fa-heart"></i>
      </div>
      <div class="swipe-card-dislike hidden">
        <i class="far fa-times-circle"></i>
      </div>
    </li>
  <% end %>
</ul>
<button class="btn save_product_button <%= Interaction.all.any? && Interaction.where(spree_product_id: @products_sorted.last.id).first.saved? ? 'save_product_button' : '' %>"><%= Interaction.all.any? && Interaction.where(spree_product_id: @products_sorted.last.id).first.saved? ? 'Saved' : 'Save for later' %></button>

<% page = @products_sorted.current_page + 1 %>
<%= link_to 'Next Page', deck_path(page: page, current_page: @products_sorted.current_page),remote: true, class: 'next_deck' %>

<script type="text/javascript">
  try {
    productSwipe();
  } catch (e) {
      if (e instanceof ReferenceError) {
        // Why have you stuck your nose so far into my code
      }
  }
</script>
