<div class="products-container" data-controller="products">
  <div class="products-container-sidebar">
    <div class="products-container-sidebar-toggler" data-action="click->products#swipe">
      Product Info <i class="fa fa-info-circle"></i>
    </div>
    <div class="products-container-sidebar-header">
      <h1 data-products-target="name">Product Name</h1>
      <h3 data-products-target="price">0.0</h3>
    </div>
    <div class="products-container-sidebar-body">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
    <div class="products-container-sidebar-footer">
      <button class="btn btn-buy"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
    </div>
  </div>
  <div class="products-section-swiper">
    <div class="product-filters">
      <div class="form-check form-switch men-switch">
        <input class="form-check-input" type="checkbox" id="men-toggler" checked>
        <label class="form-check-label" for="men-toggler">Men's Clothing</label>
      </div>
      <div class="form-check form-switch women-switch">
        <input class="form-check-input" type="checkbox" id="women-toggler" checked>
        <label class="form-check-label" for="women-toggler">Women's Clothing</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="top-toggler" checked>
        <label class="form-check-label" for="top-toggler">Show Tops</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="pants-toggler" checked>
        <label class="form-check-label" for="pants-toggler">Show Pants</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="shoes-toggler" checked>
        <label class="form-check-label" for="shoes-toggler">Show Shoes</label>
      </div>
    </div>
    <ul id="products-swipe-card-stack" data-products-target="deck">
      <% @products.each_with_index do |p,i| %>
      <% product_data = "data-gender=#{p.gender} data-type=#{ProductSpec.where(spree_product_id: p.id, name: 'clothing-type').first.value || "missing"}" %>
        <li class="swipe-card" <%= product_data %> data-products-target="card" data-productid="<%= p.id %>" data-action="click->products#swipe" data-name="<%= p.name %>" data-price="<%= p.price %>">
          <div class="swipe-card-base">
            <%= image_tag p.images.first.url('large') %>
          </div>
          <div class="swipe-card-like hidden">
            <i class="fas fa-heart"></i>
          </div>
          <div class="swipe-card-dislike hidden">
            <i class="far fa-times-circle"></i>
          </div>
        </li>
      <% end %>
    </ul>
    <ul id="out_deck"></ul>
  </div>
</div>
