<div class="products-container" data-controller="products">
  <div class="products-container-sidebar">
    <div class="products-container-sidebar-toggler" data-action="click->products#swipe">
      Product Info <i class="fa fa-info-circle"></i>
    </div>
    <div class="products-container-sidebar-header">
      <h1 data-products-target="name">Product Name</h1>
      <h3 data-products-target="price">0.0</h3>
    </div>
    <div class="products-container-sidebar-body">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
    <div class="products-container-sidebar-footer">
      <%= form_for @order, remote: true , url: spree.populate_orders_url, method: :post do |f| %>
        <%= hidden_field_tag "variant_id" %>
          <%= hidden_field_tag :quantity, 1%>
          <%= button_tag class: 'btn btn-buy', id: 'add-to-cart-button', type: :submit do %>
            <i class="fa fa-shopping-cart"></i>Add to Cart
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="products-section-swiper">
    <div class="product-filters">
      <div class="form-check form-switch men-switch">
        <input class="form-check-input" type="checkbox" id="men-toggler" checked>
        <label class="form-check-label" for="men-toggler">Men's Clothing</label>
      </div>
      <div class="form-check form-switch women-switch">
        <input class="form-check-input" type="checkbox" id="women-toggler" checked>
        <label class="form-check-label" for="women-toggler">Women's Clothing</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="top-toggler" checked>
        <label class="form-check-label" for="top-toggler">Show Tops</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="pants-toggler" checked>
        <label class="form-check-label" for="pants-toggler">Show Pants</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="shoes-toggler" checked>
        <label class="form-check-label" for="shoes-toggler">Show Shoes</label>
      </div>
    </div>
    <div class="dynamic-deck">
      <%= render partial: 'pages/partials/deck' %>
    </div>
  </div>
  <div class="products-container-cart">
      <div class="products-container-cart-toggler">
        <i class="fa fa-shopping-cart"></i> Cart
      </div>
      <div class="dynamic_cart">
        <%= render partial: '/pages/partials/cart' %>
      </div>
    </div>
</div>
