<% admin_layout "full-width" %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb("Unapproved") %>

<% unless @unapproved.first.nil? %>
  <table class="index" id="listing_products">
    <colgroup>
       <col style="width: 15%;">
       <col style="width: 5%;">
       <col style="width: 40%;">
       <col style="width: 10%">
       <col style="width: 15%;">
       <col style="width: 15%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th><%= Spree::Variant.human_attribute_name(:sku) %></th>
        <th>Image</th>
        <th>Name</th>
        <th>Vendor</th>
        <th class="align-right">Price</th>
        <th data-hook="admin_products_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @unapproved.each do |product| %>
          <tr <%== "style='color: red;'" if product.deleted? %> id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows">
            <td><%= product.sku %></td>
            <td class="align-center">
              <%= render 'spree/admin/shared/image', image: product.gallery.images.first, size: :mini %>
            </td>
            <td><%= link_to product.try(:name), edit_admin_product_path(product) %></td>
            <td>
              <%= Spree::User.exists?(id: product.spree_user_id) ? Spree::User.find(product.spree_user_id).email : "None" %>
            </td>
            <td class="align-right"><%= product.display_price.to_html %></td>
            <td class="actions" data-hook="admin_products_index_row_actions">
              <%= link_to_edit product, no_text: true, class: 'edit' if can?(:edit, product) && !product.deleted? %>
              &nbsp;
              <%= link_to_clone product, no_text: true, class: 'clone' if can?(:clone, product) %>
              &nbsp;
              <%= link_to_delete product, no_text: true if can?(:destroy, product) && !product.deleted? %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Product,
                  new_resource_url: new_object_url %>
  </div>
<% end %>

