<p id="notice"><%= notice %></p>

<h1>Profile Specs</h1>

<table>
  <thead>
    <tr>
      <th>Profiles</th>
      <th>Specs</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_specs.each do |profile_spec| %>
      <tr>
        <td><%= profile_spec.profiles_id %></td>
        <td><%= profile_spec.specs_id %></td>
        <td><%= profile_spec.value %></td>
        <td><%= link_to 'Show', profile_spec %></td>
        <td><%= link_to 'Edit', edit_profile_spec_path(profile_spec) %></td>
        <td><%= link_to 'Destroy', profile_spec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile Spec', new_profile_spec_path %>
