<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <title>Labbesne</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google" content="notranslate">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless controller_name == 'user_sessions' || controller_name == 'user_registrations' %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= evil_icons_sprite %>
    <%= yield %>
  </body>
</html>
