<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Labbesne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en-US"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <%= javascript_pack_tag 'landing', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body class="is-boxed has-animations lights-out" style="height:100%;">
    <%= yield %>
  </body>
</html>
